<div class="main-content">
  <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <p class="card-category">Number of Users</p>
                    <h3 class="card-title">{{allUsers}}
                        <small></small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> 
                        Registerd Users
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Number of Active Users</p>
                  <h3 class="card-title">{{activeUserCount}}
                      <small></small>
                  </h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">date_range</i> 
                      Registerd Users
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">No. of Inactive Users</p>
                <h3 class="card-title">{{inActiveUserCount}}
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> 
                    Registerd Users
                </div>
            </div>
        </div>
      </div>

     </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <p class="card-category">Number of Chefs</p>
                    <h3 class="card-title">10</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> 
                        Registerd Chefs
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Number of Active Chefs</p>
                  <h3 class="card-title">6
                      <small></small>
                  </h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">date_range</i> 
                      Registerd Chefs
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">No. of Inactive Chefs</p>
                <h3 class="card-title">4
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> 
                    Registerd Chefs
                </div>
            </div>
        </div>
      </div>

      </div>

  </div>
</div>